body {
    background-color: #3B0084;
    position: relative;
    margin: 0;
    padding: 0;
  
}
main {
  text-align: center;
  position: relative;
  top: 120px;
}
#header {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  
}
#nav-bar li{
    display: inline-block;
    width: 120px;
}
.logo > img {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 20px;
  }

  .supporting .product {
      display: inline-block;
      text-align: center;
      width: 250px;
      height: 250px;
  }
  .product {
      border: 2px solid whitesmoke;
      margin: 20px;
      background-color: aqua;
  }
  #features {
    margin-top: 50px;
    text-align: left;
    display: flex;
  }
  #how-it-works {
    margin-top: 50px;
  }
   
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }